# Tuples

* In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed. 


* You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar. 


* You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the <u>major distinction being that tuples are immutable</u>.


## Constructing Tuples

* The construction of a tuples use <code>()</code> with elements separated by commas.

In [2]:
# Create a tuple - round brackets
my_tuple = (1,'a',3)
#user = ('username', 'password')

# Create a list - square brackets
my_list = [1, 'a', 3]
my_list[1] = 'other item'

In [3]:
print(my_tuple)

(1, 'a', 3)

In [4]:
type(my_tuple)

tuple

In [5]:
# Can also mix object types 
another_tuple = ('one', 2, 4.53, 'asbc')

# Show
another_tuple

('one', 2, 4.53, 'asbc')

In [6]:
# List of only single item
my_list = [1]

In [7]:
type(my_list)

list

In [10]:
my_tuple = (1, )

In [11]:
type(my_tuple)

tuple

In [12]:
my_tuple = 1,2,3

In [13]:
type(my_tuple)

tuple

In [14]:
my_tuple = (1,2,3,4)

In [15]:
len(my_tuple)

4

In [19]:
my_tuple = ([1,2,3,4], 'abc')
type(my_tuple)

tuple

In [ ]:
my_str = 'abc'
# 'Abc
my_str = 'Abc'

In [ ]:
# Summary
# Tuples are very similar to List
# Collection of items
# Items can be of any data type (int, float, str, bool, date) including lists and other tuples (tuple of tuples)

## Tuple Indexing

* Indexing work just like in lists.


* A tuple index refers to the location of an element in a tuple.


* Remember the indexing begins from 0 in Python. 


* The first element is assigned an index 0, the second element is assigned an index of 1 and so on and so forth.

In [20]:
print(another_tuple)

('one', 2, 4.53, 'asbc')

In [21]:
# Grab the element at index 0, which is the FIRST element
another_tuple[0] 

item_0 = another_tuple[0] 

## returns me the item sitting at index 0 - type str
## all those things we learnt in string class

'one'

In [22]:
# Grab the element at index 3, which is the FOURTH element
another_tuple[3]

'asbc'

In [23]:
# Grab the element at the index -1, which is the LAST element
another_tuple[-1]

'asbc'

In [24]:
# Grab the element at the index -3, which is the THIRD LAST element
another_tuple[-3]

2

## Tuple Slicing

* We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. 


* The starting index is specified on the left of the <code>:</code> and the ending index is specified on the right of the <code>:</code>. 


* Remember the element located at the right index is not included.

In [25]:
# Print our list
print(another_tuple)

('one', 2, 4.53, 'asbc')

In [26]:
# Grab the elements starting from index 1 and everything past it
another_tuple[1:3]

(2, 4.53)

* If you do not specify the ending index, then all elements are extracted which comes after the starting index including the element at that starting index. The operation knows only to stop when it has run through the entire tuple.

In [27]:
# Grab everything starting from index 2
another_tuple[2:]

(4.53, 'asbc')

* If you do not specify the starting index, then all elements are extracted which comes befores the ending index excluding the element at the specified ending index. The operation knows only to stop when it has extracted all elements before the  element at the ending index.

In [28]:
# Grab everything before the index 4
another_tuple[:6]

('one', 2, 4.53, 'asbc')

In [29]:
my_list = [1, 2, 3, 4]
my_list[:6]

[1, 2, 3, 4]

* If you do not specify the starting and the ending index, it will extract all elements of the tuple.

In [30]:
# Grab everything
another_tuple

('one', 2, 4.53, 'asbc')

In [34]:
another_tuple[-2]

4.53

* We can also extract the last four elements. Remember we can use the index -4 to extract the FOURTH LAST element

In [31]:
# Grab the LAST FOUR elements of the list
another_tuple[-4:]

('one', 2, 4.53, 'asbc')

* It should also be noted that tuple indexing will return an error if there is no element at that index.

In [32]:
another_tuple[5]

IndexError: ignored

In [36]:
list(another_tuple)
tuple(my_list)

(1, 2, 3, 4)

In [37]:
# Check len just like a list
len(another_tuple)

4

In [51]:
random_tuple = (1,5,6,2)

In [52]:
sorted(random_tuple)

## Sorted - function which can take as input list or tuple

[1, 2, 5, 6]

In [41]:
random_tuple.sort()

AttributeError: ignored

## Tuple Methods

* Tuples have built-in methods, but not as many as lists do.

### <code>index()</code>


* The <code>index()</code> method returns the index of a specified element.

In [42]:
my_tuple =(1,2,3,4,5,6,1,1,2)

In [43]:
# Use .index to enter a value and return the index
my_tuple.index(2)

1

### <code>count()</code>


* The <code>count()</code> method returns the total occurrence of a specified element in a tuple

In [44]:
# Use .count to count the number of times a value appears
my_tuple.count(2)

2

In [45]:
my_tuple.count(1)

3

In [ ]:
my_list = [1,2,3,4]

In [ ]:
my_list.

## Immutability

* It can't be stressed enough that tuples are immutable.

In [53]:
print(my_tuple)

(1, 2, 3, 4, 5, 6, 1, 1, 2)

In [54]:
my_tuple[0]

1

In [55]:
my_tuple[0] = 'change'

TypeError: ignored

* Because of this immutability, tuples can't grow. Once a tuple is made we can not add to it.

In [ ]:
append
extend

* Let us consider a list and lets see if we can do this operation on them

In [56]:
# Create a list
my_list = [5,7,9,3,2]

In [57]:
# Replace the FIRST element with the value 1
my_list[0] = 1

In [58]:
# Our modified list
my_list

[1, 7, 9, 3, 2]

* Tuple does not support methods such as <code>append()</code>, <code>extend()</code>, <code>remove()</code>, <code>pop()</code>

In [59]:
my_tuple.append('Great!')

AttributeError: ignored

In [63]:
t1 = (1,2,3)
t2 = (1,2,3)
t1+t2

## Tuples are immutable

(1, 2, 3, 1, 2, 3)

### <code>zip()</code>


* <code>zip()</code> function takes multiple lists as arguments and zips them together 


* This function returns a list of n-paired tuples where n is the number of lists being zipped

In [65]:
# list1
city_list = ['Delhi','Patna','Cuttack','Guwahati'] # cities

# list2
river_list = ['Yamuna','Ganga','Mahanadi','Brahmaputra']  # rivers

In [71]:
zip(city_list, river_list)  ## --> return collection of tuples
print(*zip(city_list, river_list)) # * was to print the collectionable

# for item in zip(city_list, river_list):
#   print(item)

('Delhi', 'Yamuna') ('Patna', 'Ganga') ('Cuttack', 'Mahanadi') ('Guwahati', 'Brahmaputra')

In [72]:
city_and_their_rivers = list(zip(city_list, river_list))

In [73]:
city_and_their_rivers

[('Delhi', 'Yamuna'),
 ('Patna', 'Ganga'),
 ('Cuttack', 'Mahanadi'),
 ('Guwahati', 'Brahmaputra')]

In [78]:
city_list = ['Delhi', 'Patna', 'Cuttack', 'Guwahati']
river_list = ['Yamuna','Ganga','Mahanadi','Brahamputra','Thames']
third_list = ['abc', 'xyz']

In [79]:
list(zip(city_list, river_list))
list(zip(city_list, river_list, third_list))

[('Delhi', 'Yamuna', 'abc'), ('Patna', 'Ganga', 'xyz')]

## When to use Tuples

* You may be wondering, "Why bother using tuples when they have fewer available methods?" To be honest, tuples are not used as often as lists in programming, but are used when immutability is necessary. If in your program you are passing around an object and need to make sure it does not get changed, then a tuple becomes your solution. It provides a convenient source of data integrity.


* You will find them often in functions when you are returning some values


* You should now be able to create and use tuples in your programming as well as have an understanding of their immutability.

# Sets

* Sets are an unordered collection of *unique* elements. We can construct them by using the <code>set()</code> function.


* Sets cannot have duplicates.


* Sets are mutable just like lists.


* You can create a non-empty set with curly braces by specifying elements separated by a comma.

In [80]:
# Create an empty set 
empty_set = set()
empty_set

set()

In [86]:
empty_list = []
empty_tuple = ()
empty_set = {}

print(empty_list)
print(empty_tuple)
print(empty_set)

[]
()
{}

In [87]:
type(empty_set)

dict

In [81]:
type(empty_set)

set

In [84]:
# Create a non-empty set within curly braces
non_empty_set = {1,6,4,'abc'}
non_empty_set

{1, 4, 6, 'abc'}

In [83]:
type(non_empty_set)

set

## A Time for Caution

* An empty set cannot be represented as <code>{}</code>, which is reserved for an <u>empty dictionary</u> which we will get to know in a short while

In [88]:
my_object = {}

In [89]:
type(my_object)

dict

In [90]:
my_set = set()

In [91]:
type(my_set)

set

*  We can cast a list with multiple repeat elements to a set to get the unique elements.

In [109]:
# Create a list with repeats
my_list = [1,1,2,2,3,4,5,6,1,1]
my_list

[1, 1, 2, 2, 3, 4, 5, 6, 1, 1]

In [110]:
# Cast as set to get unique values
my_set = set(my_list)

In [111]:
my_set

{1, 2, 3, 4, 5, 6}

In [ ]:
## convert list -- > tuple ---> set

In [99]:
# A set cannot have mutable items
my_set = {1, 2, [3, 4]}
my_set

TypeError: ignored

* We cannot create a set whose any of the elements is a list

In [100]:
# But we can have tuples as set elements, they are immutable
my_set = {1, 2, (2,3)}

In [101]:
my_set

{(2, 3), 1, 2}

In [102]:
my_set = {1,2, {3,5}}

TypeError: ignored

In [103]:
my_set

{(2, 3), 1, 2}

In [104]:
my_set[0]
# index a set

TypeError: ignored

### <code>add()</code> 


*  <code>add()</code> method adds an element to a set


* This method takes the element to be added as an argument

In [112]:
# We add to sets with the add() method
my_set = set()
my_set.add('a')

In [113]:
#Show
my_set

{'a'}

In [114]:
# Add a different element
my_set.add(2)

In [115]:
#Show
print(my_set)

{'a', 2}

In [117]:
# Lets add another element 1
my_set.add(1)

In [118]:
#Show
my_set

{1, 2, 'a'}

In [119]:
my_set.add('A')
my_set

{1, 2, 'A', 'a'}

In [120]:
# Try to add the same element 1 again
my_set.add(1)

In [121]:
my_set

{1, 2, 'A', 'a'}

* Notice how it won't place another 1 there. That's because a set is only concerned with unique elements!

### <code>update()</code>

* <code>update()</code> method helps to add multiple elements to a set

In [122]:
my_set = {5,7,9,3}

In [123]:
# add multiple elements
my_set.update([2, 3, 4])
print(my_set)

{2, 3, 4, 5, 7, 9}

### <code>remove()</code>

* Use <code>remove()</code> to remove an item/element from the set. 


* By default <code>remove()</code> removes the specified element from the set.


* <code>remove()</code> takes the element as an argument.

In [127]:
non_empty_set = {1, 5, 6, 73, 2}
non_empty_set

{1, 2, 5, 6, 73}

In [125]:
non_empty_set.remove(5)

In [126]:
non_empty_set

{1, 2, 6, 73}

In [128]:
non_empty_set.remove(45)

KeyError: ignored

* <code>remove()</code> throws an error when we try to remove an element which is not present in the set

### <code>union()</code>


* <code>union()</code> method returns the union of two sets


* Also denoted by the operator <code>|</code>

In [129]:
# Initialize sets A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# combine all items together

In [130]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [131]:
A

{1, 2, 3, 4, 5}

In [132]:
# Also denoted by the operator |
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

### <code>intersection()</code>


* <code>intersection()</code> method returns the intersection of two sets


* Also denoted by the operator <code>&</code>

In [133]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [134]:
A.intersection(B)

{4, 5}

In [135]:
# Also denoted by the operator &
A & B

{4, 5}

### <code>difference()</code>


* <code>difference()</code> method returns the difference of two sets


* Difference of the set <code>B</code> from set <code>A</code> i.e, <code>(A - B)</code> is a set of elements that are only in <code>A</code> but not in <code>B</code>


* Also denoted by the operator <code>-</code>

In [136]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [138]:
A.difference(B)

{1, 2, 3}

In [139]:
# Also denoted by the operator -
A - B

{1, 2, 3}

In [140]:
B.difference(A)

{6, 7, 8}

In [141]:
B - A

{6, 7, 8}

### <code>symmetric_difference()</code>


* <code>symmetric_difference()</code> method returns the set of elements in A and B but not in both (excluding the intersection)


* Also denoted by the operator <code>^</code>

In [142]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [143]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [145]:
A^B
B^A

{1, 2, 3, 6, 7, 8}

# Dictionaries

* We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python. 


* If you're familiar with other languages you can think of these Dictionaries as hash tables. 


* So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.


* A Python dictionary consists of a key and then an associated value. That value can be almost any Python object. So a dictionary object always has elements as key-value pairs


## Constructing a Dictionary


* A dictionary object is constructed using curly braces <code>{key1:value1,key2:value2,key3:value3}</code>

In [146]:
# Make a dictionary with {} and : to signify a key and a value
marvel_dict = {'Name':'Thor',
               'Place':'Asgard',
               'Weapon' :'Hammer', 
               1:2, 
               3: 'power', 
               'alibies' : ['Ironman','Captain America'], 
               'abc' : {1:2, 
                        4:5}
               }

In [147]:
# Call values by their key
marvel_dict['Place']

'Asgard'

In [148]:
type(marvel_dict)

dict

In [149]:
marvel_dict['Name']

'Thor'

In [150]:
marvel_dict['Random']

KeyError: ignored

In [151]:
marvel_dict['Weapon']

'Hammer'

In [152]:
marvel_dict['alibies']

['Ironman', 'Captain America']

In [154]:
marvel_dict['abc']

{1: 2, 4: 5}

In [153]:
type(marvel_dict['abc'])

dict

In [155]:
marvel_dict

{1: 2,
 3: 'power',
 'Name': 'Thor',
 'Place': 'Asgard',
 'Weapon': 'Hammer',
 'abc': {1: 2, 4: 5},
 'alibies': ['Ironman', 'Captain America']}

In [156]:
marvel_dict[0]

KeyError: ignored

## Dictionary Methods

### <code>keys()</code>


* <code>keys()</code> method returns the list of keys in the dictionary object

In [166]:
marvel_dict.keys()

dict_keys(['Name', 'Place', 'Weapon', 1, 3, 'alibies', 'abc'])

In [161]:
list(marvel_dict.keys())

['Name', 'Place', 'Weapon', 1, 3, 'alibies', 'abc']

### <code>values()</code>

* <code>values()</code> method returns the list of values in the dictionary object

In [162]:
print(marvel_dict)

{'Name': 'Thor', 'Place': 'Asgard', 'Weapon': 'Hammer', 1: 2, 3: 'power', 'alibies': ['Ironman', 'Captain America'], 'abc': {1: 2, 4: 5}}

In [163]:
list(marvel_dict.values())

['Thor',
 'Asgard',
 'Hammer',
 2,
 'power',
 ['Ironman', 'Captain America'],
 {1: 2, 4: 5}]

### <code>items()</code>


* <code>items()</code> method returns the list of the keys and values

In [168]:
print(*marvel_dict.items())

('Name', 'Thor') ('Place', 'Asgard') ('Weapon', 'Hammer') (1, 2) (3, 'power') ('alibies', ['Ironman', 'Captain America']) ('abc', {1: 2, 4: 5})

In [164]:
# Get the keys and their corresponding values
list(marvel_dict.items())

# list of tuples of key-value pairs

[('Name', 'Thor'),
 ('Place', 'Asgard'),
 ('Weapon', 'Hammer'),
 (1, 2),
 (3, 'power'),
 ('alibies', ['Ironman', 'Captain America']),
 ('abc', {1: 2, 4: 5})]

* We can also use the <code>get()</code> method to extract a particular value of key-value pair.

In [ ]:
marvel_dict.get('Place')

### <code>get()</code>

* <code>get()</code> method takes the key as an argument and returns None if the key is not found in the dictionary.


* We can also set the value to return if a key is not found. This will be passed as the second argument in <code>get()</code>

In [169]:
marvel_dict

{1: 2,
 3: 'power',
 'Name': 'Thor',
 'Place': 'Asgard',
 'Weapon': 'Hammer',
 'abc': {1: 2, 4: 5},
 'alibies': ['Ironman', 'Captain America']}

In [170]:
marvel_dict.get('Place')

'Asgard'

In [173]:
marvel_dict.get('Random', 'Key is not found')

'Key is not found'

In [174]:
marvel_dict.get('Random', 'Not Found')

'Not Found'

In [175]:
marvel_dict['friend']

KeyError: ignored

In [176]:
marvel_dict.get('friend', 'None')

'None'

Its important to note that dictionaries are very flexible in the data types they can hold. For example:

In [177]:
employee_dict = {'Name':'Sanket',
                 'Skills':['Python','Machine Learning','Deep Learning'],
                 'Band':6.0,
                 'Promotion Year':[2016,2018,2020]
                 }

In [178]:
len(employee_dict.keys())

4

In [179]:
# Let's call items from the dictionary
employee_dict['Skills']

['Python', 'Machine Learning', 'Deep Learning']

In [180]:
# Can call an index on that value
employee_dict['Skills'][0]

'Python'

In [181]:
# Can then even call methods on that value
employee_dict['Skills'][0].upper()

'PYTHON'

In [182]:
# Add a new key
employee_dict['Designation'] = 'Senior Data Scientist'

In [183]:
employee_dict

{'Band': 6.0,
 'Designation': 'Senior Data Scientist',
 'Name': 'Sanket',
 'Promotion Year': [2016, 2018, 2020],
 'Skills': ['Python', 'Machine Learning', 'Deep Learning']}

### <code>update()</code>

* You can add an element which is a key-value pair using the <code>update()</code> method 

* This method takes a dictionary as an argument

In [184]:
employee_dict.update({'Salary':'2,000,000'})

In [185]:
employee_dict

{'Band': 6.0,
 'Designation': 'Senior Data Scientist',
 'Name': 'Sanket',
 'Promotion Year': [2016, 2018, 2020],
 'Salary': '2,000,000',
 'Skills': ['Python', 'Machine Learning', 'Deep Learning']}

* We can also use the <code>update()</code> method to update the existing values for a key

In [186]:
employee_dict.update({'Name':'Varun Saini'})

In [187]:
employee_dict

{'Band': 6.0,
 'Designation': 'Senior Data Scientist',
 'Name': 'Varun Saini',
 'Promotion Year': [2016, 2018, 2020],
 'Salary': '2,000,000',
 'Skills': ['Python', 'Machine Learning', 'Deep Learning']}

In [188]:
employee_dict.update({'Name2':'Varun Saini2', 'Name3':'Varun Saini3'})
employee_dict

{'Band': 6.0,
 'Designation': 'Senior Data Scientist',
 'Name': 'Varun Saini',
 'Name2': 'Varun Saini2',
 'Name3': 'Varun Saini3',
 'Promotion Year': [2016, 2018, 2020],
 'Salary': '2,000,000',
 'Skills': ['Python', 'Machine Learning', 'Deep Learning']}

* We can affect the values of a key as well without the <code>update()</code> method

In [189]:
employee_dict['Name']

'Varun Saini'

In [190]:
# Subtract 123 from the value
employee_dict['Name'] = employee_dict['Name'] + ' ' + 'Raj'

In [191]:
#Check
employee_dict

{'Band': 6.0,
 'Designation': 'Senior Data Scientist',
 'Name': 'Varun Saini Raj',
 'Name2': 'Varun Saini2',
 'Name3': 'Varun Saini3',
 'Promotion Year': [2016, 2018, 2020],
 'Salary': '2,000,000',
 'Skills': ['Python', 'Machine Learning', 'Deep Learning']}

### <code>dict()</code>


* We can also create dictionary objects from sequence of items which are pairs. This is done using the <code>dict()</code>method


*  <code>dict()</code> function takes the list of paired elements as argument

In [192]:
country_list = ['India','Australia','United States','England']
city_list = ['New Delhi', 'Canberra' , 'Washington DC','London']

In [193]:
country_city_list = list(zip(country_list, city_list))

# zip --> two list into tuples index by indes
# list --> list of zip of tuples

In [194]:
country_city_list

[('India', 'New Delhi'),
 ('Australia', 'Canberra'),
 ('United States', 'Washington DC'),
 ('England', 'London')]

In [195]:
dict(country_city_list)

{'Australia': 'Canberra',
 'England': 'London',
 'India': 'New Delhi',
 'United States': 'Washington DC'}

In [196]:
# Let us create a list of paired tuples
country_city_tuples = [('India','New Delhi'),
                       ('Australia','Canberra'),
                       ('United States','Washington DC'),
                       ('England','London')
                       ]

In [197]:
country_city_dict = dict(country_city_tuples)

In [198]:
country_city_dict

{'Australia': 'Canberra',
 'England': 'London',
 'India': 'New Delhi',
 'United States': 'Washington DC'}

### <code>pop()</code>


* <code>pop()</code> method removes and returns an element from a dictionary having the given key.

* This method takes two arguments/parameters (i) key - key which is to be searched for removal, (ii) default - value which is to be returned when the key is not in the dictionary

In [199]:
# list : pop operation by default removed the last item from the list
country_city_dict

{'Australia': 'Canberra',
 'England': 'London',
 'India': 'New Delhi',
 'United States': 'Washington DC'}

In [200]:
country_city_dict.pop('England')

'London'

In [201]:
country_city_dict

{'Australia': 'Canberra',
 'India': 'New Delhi',
 'United States': 'Washington DC'}

In [202]:
element_to_pop = country_city_dict.pop('England')

KeyError: ignored

In [207]:
country_city_dict.pop('England', 'None')

'None'

In [203]:
element_to_pop

NameError: ignored

In [204]:
country_city_dict

{'Australia': 'Canberra',
 'India': 'New Delhi',
 'United States': 'Washington DC'}

### We can use the <code>zip()</code> and <code>dict()</code> methods to create a dictionary object from two lists

In [208]:
name = ["Manjeet", "Nikhil", "Shambhavi"]
marks = [40, 50, 60]

In [209]:
mapped = zip(name, marks)

In [210]:
mapped

In [211]:
print(dict(mapped))

{'Manjeet': 40, 'Nikhil': 50, 'Shambhavi': 60}

In [225]:
name = ["Manjeet", "Nikhil", "Shambhavi"]
marks = [40, 50, 60, 80]

In [226]:
mapped = zip(marks, name)

In [220]:
print(dict(mapped))

{40: 'Manjeet', 50: 'Nikhil', 60: 'Shambhavi'}

In [227]:
d = dict(mapped)
d
#d[50]

{40: 'Manjeet', 50: 'Nikhil', 60: 'Shambhavi'}

In [228]:
d[50]

'Nikhil'

In [230]:
my_tup = (1,2,3)
33 in my_tup

False

In [232]:
a = tuple([1])
a

(1,)