# What is Production Environment?

Production environment is a term used mostly by developers to describe the setting where software and other products are actually put into operation for their intended uses by end users. It's an environment where our code is deployed. It is the environment of the end user.
Rules for production environment code:
1. Keep it modular: The idea here is to break a large code into small independent sections(functions) based on its functionality. 
2. Code Optimization: Code optimization implies both reduced time complexity (run time) as well as reduced space complexity (memory usage).
3. Unit Testing: Your code have to clear multiple stages of testing and debugging before getting into production.
4. Compatibility with ecosystem: Most likely, your code is not going to be a standalone function or module. It will to be integrated into company’s code ecosystem and your code has to run synchronously with other parts of the ecosystem without any flaws/failures. Ex. Compatibility of code with the data pulling tool of the end user's environment.
5.  Readability: The code you write should be easily digestible for others as well, at least for your team mates. Moreover, it will be challenging even for you to understand your own code in few months after writing the code, if proper naming conventions are not followed. A good code has Appropriate variable and function names, Doc string and comments.

Concepts that will be useful in writing production grade code:
* Object Oriented Programming
* Handling Errors and Exceptions

# 1. Object Oriented Programming

It is an approach used for creating neat and reusable code instead of a redundant one. The program is divided into self-contained objects or several mini-programs. Every Individual object represents a different part of the application having its own logic and data to communicate within themselves.
Object Oriented Programming (OOP) tends to be one of the most interesting concepts to learn in Python.

For this lesson we will construct our knowledge of OOP in Python by building on the following topics:

* Objects
* Using the *class* keyword
* Creating class attributes
* Creating methods in a class
* Learning about Polymorphism

Lets start the lesson by remembering about the Basic Python Objects. For example:

In [ ]:
empty_list = []

In [ ]:
empty_list

[]

In [ ]:
another_empty_list = list()

In [ ]:
another_empty_list

[]

Remember how we could call methods on a list?

In [ ]:
another_empty_list.append(2)
another_empty_list

[2]

In [ ]:
another_empty_list.append(1)
another_empty_list.append(3)

In [ ]:
another_empty_list

[2, 1, 3]

In [ ]:
another_empty_list.index(2)

0

**Main Concepts of Object-Oriented Programming (OOPs)**  


1.   Objects
2.   Class
3.   Inheritance
4.   Polymorphism

## Objects

The object is an entity that has a state and behavior associated with it. It may be any real-world object like a mouse, keyboard, chair, table, pen, etc. Integers, strings, floating-point numbers, even arrays, and dictionaries, are all objects. More specifically, any single integer or any single string is an object. The number 12 is an object, the string “Hello, world” is an object, a list is an object that can hold other objects, and so on. You’ve been using objects all along and may not even realize it. A list and a tuple exibit different behaviour.   
What we will basically be doing in this lecture is exploring how we could create an Object type like a list. We've already learned about how to create functions.  
In Python, *everything is an object*. Remember from previous lectures we can use type() to check the type of object something is:

In [ ]:
the_sixth_sense = 6
print(type(the_sixth_sense))

<class 'int'>

In [ ]:
two_and_a_half_men = 2.5
print(type(two_and_a_half_men))

<class 'float'>

In [ ]:
schindlers_list = list()
print(type(schindlers_list))

<class 'list'>

In [ ]:
tharoor = {'farrago':'a confused mixture'}
print(type(tharoor))

<class 'dict'>

So we know all these things are objects, so how can we create our own Object types? That is where the <code>class</code> keyword comes in.
## class  
A class is a collection of objects. A class contains the blueprints or the prototype from which the objects are being created. A class is a superset of objects. It is a logical entity that contains some attributes and methods. For Example:  
**Class** - Wild animals   
**Tiger** - an object of Wild animals (Four Legged, Stripes,Fast Runner)  
**Zebra** - an object of Wild animals (Four Legged, Stripes, Fast Runner)   
**Class** - tea  
**Green** - an object of tea (Antioxidants)  
**Black** - an object of tea (Antioxidants)  
The attributes associated with them are given in the parenthesis.   
User defined objects are created using the <code>class</code> keyword. The class is a blueprint that defines the nature of a future object. From classes we can construct instances. An instance is a specific object created from a particular class. For example, above we created the object <code>another_empty_list</code> which was an instance of a list object. 

Let see how we can use <code>class</code>:

In [ ]:
# Create a new object type called FirstClass
class FirstClass:
    pass

In [ ]:
# Instance of FirstClass
x = FirstClass()
print(type(x))

<class '__main__.FirstClass'>

Note how <code>x</code> is now the reference to our new instance of a FirstClass class. In other words, we **instantiate** the FirstClass class.

Inside of the class we currently just have pass. But we can define class attributes and methods.

An **attribute** is a characteristic of an object.
A **method** is an operation we can perform with the object.

For example, we can create a class called Dog. An attribute of a dog may be its breed or its name, while a method of a dog may be defined by a .bark() method which returns a sound.

Let's get a better understanding of keywords that will be used while working with objects and classes.

## Keywords for Attributes
## **self**
    
    self.attribute = attribute  # syntax for creating an attribute is
self represents the instance of the class. By using the “self” keyword we can access the attributes and methods of the class in python. It binds the attributes with the given arguments.  


##**__init__()** 
    __init__()  # is called automatically right after the object has been created.
acts like a constructor that is invoked whenever an object is created. This method is used to initialize the attributes of an object.

In [ ]:
# Example 1

class Dog:
    
    def __init__(self, breed, name):
        self.breed = breed
        self.name = name

In [ ]:
sam_object = Dog(breed='Lab', name = 'Sam')
frank_object = Dog(breed='Huskie', name = 'Frank')

In [ ]:
sam_object.breed

# Note how we don't have any parentheses after breed. This is because it is an attribute and doesn't take any arguments.

'Lab'

Every Python class keeps following built-in attributes and they can be accessed using dot operator like any other attribute −

__dict__ − Dictionary containing the class's namespace.

__doc__ − Class documentation string or none, if undefined.

__name__ − Class name.

__module__ − Module name in which the class is defined. This attribute is "__main__" in interactive mode.

In [ ]:
# Example 2

class employee():
    def __init__(self,name,age,id,salary):
        self.name = name
        self.age = age
        self.salary = salary
        self.id = id

In [ ]:
# 'emp1' and 'emp2' are the objects that are instantiated against the class ’employee’.

emp1 = employee("Karan",22,1000,1234)   # creating instances/objects
emp2 = employee("Arjun",23,2000,2234)

In [ ]:
# The word (__dict__) is a “dictionary” which prints all the values of object ‘emp1’ against the given parameter (name, age, salary)
print(emp1.__dict__)

{'name': 'Karan', 'age': 22, 'salary': 1234, 'id': 1000}

In [ ]:
print("Name of the first employee: ", emp1.name)
print("ID of the second employee: ", emp2.id)

Name of the first employee:  Karan
ID of the second employee:  2000

## Methods

Methods are functions defined inside the body of a class. They are used to perform operations with the attributes of our objects. Methods are a key concept of the OOP paradigm. They are essential to dividing responsibilities in programming, especially in large applications.

Methods are specific to a class. Every class has specific methods which work with that class itself and not the others.

In [ ]:
lst = [1,2,3,4,5,6]
lst.append(7)
lst

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
num = 1
num.append(2)
# append is a function which only works with a list and not an int or str.

AttributeError: ignored

In [ ]:
# Example 1 : Circle
import math
class Circle:

  def __init__(self, radius):
    self.radius = radius

  def area(self):
    ar = math.pi*self.radius**2
    return ar

  def circumference(self):
    cm = 2*math.pi*self.radius
    return cm

In [ ]:
circ = Circle(9)   # creating instance.
circ_area = circ.area()
print('Area of the given circle is {}'.format(circ_area))
circ_cm = circ.circumference()
print('Circumference of the given circle is {}'.format(circ_cm))

Area of the given circle is 254.46900494077323
Circumference of the given circle is 56.548667764616276

In [ ]:
# Example 2: Account Info

class Account():
    def __init__(self, name, account_number, initial_amount):
        self.name = name         # binding the attributes to the arguments.
        self.no = account_number
        self.balance = initial_amount

    def deposit(self, amount):
        self.balance += amount

    def withdraw(self, amount):
        self.balance -= amount

    def info(self):
        print('Name of the Customer: ',self.name)
        print('Account Number of the Customer: ',self.no)
        print('Current balance: ',self.balance)

In [ ]:
fed = Account('Federer', '19371554951', 20000)
rafa = Account('Nadal',  '19371564761', 20000)
djoker = Account('Djokovic',  '19371564771', 20000)

In [ ]:
fed.deposit(1000)
print("Federer's current balance is ",fed.balance)

Federer's current balance is  21000

In [ ]:
rafa.withdraw(1000)
print("Nadal's current balance is ",rafa.balance)

Nadal's current balance is  19000

In [ ]:
print(djoker.info())

Name of the Customer:  Djokovic
Account Number of the Customer:  19371564771
Current balance:  20000
None

# Inheritance
Inheritance is the capability of one class to derive or inherit the properties from another class. A child inherits traits from his/her parents.   
The class that derives properties is called the derived class or child class and the class from which the properties are being derived is called the base class or parent class.

![vehicle-hierarchy.jpg]()

In [ ]:
# Example of Inheritence

# Parent class
class Aadhar():

    def __init__(self, name, aadhar_number):
        self.name = name
        self.aadhar_number = aadhar_number
  
    def display(self):
        print(self.name)
        print(self.aadhar_number)
          
    def details1(self):
        print("My name is {}".format(self.name))
        print("IdNumber: {}".format(self.aadhar_number))
      
# Child class
class Employee(Aadhar):
    def __init__(self, name, aadhar_number, salary, post):
        self.salary = salary
        self.post = post
  
        # invoking the __init__ of the parent class. Initiate the attributes of the parent class.
        Aadhar.__init__(self, name, aadhar_number)
          
    def details2(self):
        print("My name is {}".format(self.name))
        print("IdNumber: {}".format(self.aadhar_number))
        print("Post: {}".format(self.post))
        print("Compensation: {}".format(self.salary))

In [ ]:
a = Employee( 'Rahul', 886012, 200000, "Intern")
a.details2()   # We call a method from child class.

My name is Rahul
IdNumber: 886012
Post: Intern
Compensation: 200000

In [ ]:
b = Employee('Akshay', 886011, 200000, "Intern")
b.details1()   # We call a method from the parent class.

My name is Akshay
IdNumber: 886011

## Polymorphism

We've learned that while functions can take in different arguments, methods belong to the objects they act on. In Python, *polymorphism* refers to the way in which different object classes can share the same method name, and those methods can be called from the same place even though a variety of different objects might be passed in. The best way to explain this is by example:

In [ ]:
class Bird():
    
    def intro(self):
        print("There are many types of birds.")
  
    def flight(self):
        print("Most of the birds can fly but some cannot.")
  
class sparrow(Bird):
    
    def flight(self):
        print("Sparrows can fly.")
  
class ostrich(Bird):
  
    def flight(self):
        print("Ostriches cannot fly.")

In [ ]:
obj_bird = Bird()
obj_spr = sparrow()
obj_ost = ostrich()

In [ ]:
print(obj_bird.intro())
print(obj_bird.flight())

There are many types of birds.
None
Most of the birds can fly but some cannot.
None

In [ ]:
print(obj_spr.flight())

Sparrows can fly.
None

In [ ]:
print(obj_ost.flight())

Ostriches cannot fly.
None

In [ ]:
class maths1():
    def __init__(self, var1,var2,var3,var4,var5):
        self.var1 = var1
        self.var2 = var2
        self.var3 = var3
        self.var4 = var4
        self.var5 = var5
    
    def bodmas(self):
      fin = ((((self.var1/self.var2)*self.var3)+self.var4)-self.var5)
      print('The final value is {}'.format(fin))

class maths2():
    def __init__(self, var1,var2,var3,var4,var5):
        self.var1 = var1
        self.var2 = var2
        self.var3 = var3
        self.var4 = var4
        self.var5 = var5
    
    def bodmas(self):
      fin = ((((self.var1-self.var2)+self.var3)*self.var4)/self.var5)
      print('The final value is {}'.format(fin))

In [ ]:
res1 = maths1(100,10,5,4,9)
res1.bodmas()

The final value is 45.0

In [ ]:
res2 = maths2(100,10,5,4,9)
res2.bodmas()

The final value is 42.22222222222222

**Great! By now you should have a basic understanding of how to create your own objects with class in Python.**

# 2. Errors and Exception Handling

Now we will learn about Errors and Exception Handling in Python. You've definitely already encountered errors by this point in the course. For example:

In [ ]:
print('XGBoost)

SyntaxError: ignored

Note how we get a SyntaxError, with the further description that it was an EOL (End of Line Error) while scanning the string literal. This is specific enough for us to see that we forgot a single quote at the end of the line. Understanding these various error types will help you debug your code much faster. 

This type of error and description is known as an Exception. Even if a statement or expression is syntactically correct, it may cause an error when an attempt is made to execute it. Errors detected during execution are called exceptions and are not unconditionally fatal.

You can check out the full list of built-in exceptions [here](https://docs.python.org/3/library/exceptions.html). Now let's learn how to handle errors and exceptions in our own code.

## try and except

The basic terminology and syntax used to handle errors in Python are the <code>try</code> and <code>except</code> statements. The code which can cause an exception to occur is put in the <code>try</code> block and the handling of the exception is then implemented in the <code>except</code> block of code. The syntax follows:

    try:
       You do your operations here...
       ...
    except:
       If there is an exception, then execute this block.
    else:
       If there is no exception then execute this block. 

To get a better understanding of this let's check out an example:

In [ ]:
print("Good to go!")
print('a', fwdfdwafwf)   # We encounter error here.
print('b')

Good to go!

NameError: ignored

In [ ]:
try:
    print("Good to go!")
    print('a', fwdfdwafwf)   # We encounter error here.
    print('b')
except:
    # This will check for any exception and then execute this print statement
    print("Oops!")
    print('We have encountered an error here')
else:
    print("No errors encountered!")
    print('e')
    print('f')

Good to go!
Oops!
We have encountered an error here

In [ ]:
def divide(x, y):
    try:
        # Floor Division : Gives only Fractional Part as Answer
        result = x // y
        print("Yeah ! Your answer is :", result)
    except ZeroDivisionError:
        print("Sorry ! You are dividing by zero ")

In [ ]:
divide(3, 2)

Yeah ! Your answer is : 1

In [ ]:
3//0

ZeroDivisionError: ignored

In [ ]:
divide(3, 0)

Sorry ! You are dividing by zero

#else 

In python, you can also use the else clause on the try-except block which must be present after all the except clauses. The code enters the else block only if the try clause does not raise an error. We can use the result from the try clause to execute the code in the else block.

try:
    # Some Code
except:
    # Executed if error in the
    # try block
else:
    # execute if no exception

In [ ]:
def div(a , b):
    try:
        c = ((a+b) / (a-b))
        print('No error returned')
    except ZeroDivisionError:
        print ("a/b result in 0")
    else:
        print (c)

In [ ]:
div(2.0, 3.0)

No error returned
-5.0

In [ ]:
div(3.0, 3.0)

a/b result in 0

Great! Now we don't actually need to memorize that list of exception types! Now what if we kept wanting to run code after the exception occurred? This is where <code>finally</code> comes in.
## finally
The <code>finally:</code> block of code will always be run regardless if there was an exception in the <code>try</code> code block. The syntax is:

    try:
       Code block here
       ...
       Due to any exception, this code may be skipped!
    finally:
       This code block would always be executed.

For example:

In [ ]:
try:
  print("Execute try statements")
finally:
  print("Always execute finally code blocks")

Execute try statements
Always execute finally code blocks

We can use this in conjunction with <code>except</code>. Let's see a new example that will take into account a user providing the wrong input:

In [ ]:
a = 1
b = 0.2

In [ ]:
try:
    print(afdwfwf, type(aefwffewf))   # This would return an error.
except:
    print(b, type(b))
finally:
    print('Type printed')

0.2 <class 'float'>
Type printed

**Great! Now you know how to handle errors and exceptions in Python with the try, except, else, and finally notation!**

# Real World Use Case

### Uber's simplified pricing model

When you request an Uber, you enter your pick-up location and the destination. Based on the distance, peak hours, willingness to pay and many other factors, Uber uses a machine learning algorithm to compute what prices will be shown to you.

Let's consider a simplistic version of the Uber Pricing Model where you compute the price based on the distance between the pick-up and the drop location and the time of the booking.

User Inputs:

* Pick-up location (pick_up_latitude, pick_up_longitude)
* Drop location (drop_latitude, drop_longitude)
* Time of booking

Output:

* Final Price

 ### Development Code

In [ ]:
# Calculate the distance between the pick-up location and the drop location

import geopy.distance
        
def get_distance(location_1, location_2):

    distance = geopy.distance.distance(location_1, location_2).km

    return distance

In [ ]:
def get_price_per_km(hour):
    
    if (hour > 8) & (hour < 11):
        price_per_km = 20
    elif (hour > 18) & (hour < 21):
        price_per_km = 15
    else:
        price_per_km = 10
        
    return price_per_km

In [ ]:
def get_final_price(pick_up_location, drop_location, booking_hour):
    
    total_distance = get_distance(pick_up_location, drop_location)
    actual_price_per_km = get_price_per_km(booking_hour)
    
    final_price = round(total_distance * actual_price_per_km, 2)
    
    return final_price

In [ ]:
# Inputs

pick_up_location = (24, 70)
drop_location = (24.1, 70.1)
booking_time = 19

In [ ]:
# Output

get_final_price(pick_up_location, drop_location, booking_time)

225.56

### Production Grade Code

In [ ]:
# Calculate the distance between the pick-up location and the drop location.
# Every method we wirte, we write it in the class. So all the related functions stay in one place itself which makes it easy to comprehend.

import geopy.distance
import math

class Maps:
    
    def __init__(self):
        pass
        
    def get_distance(self, location_1, location_2):

        try:
            distance = geopy.distance.distance(location_1, location_2).km
        except:
            distance = math.sqrt((location_1[0]-location_2[0])^2 + (location_1[1]-location_2[1])^2)
            
        return distance

In [ ]:
class SurgePricing:
    
    def __init__(self):
        pass

    def get_price_per_km(self, hour):

        try:

            if (hour > 8) & (hour < 11):
                price_per_km = 20
            elif (hour > 18) & (hour < 21):
                price_per_km = 15
            else:
                price_per_km = 10

        except:

            price_per_km = 10

        return price_per_km

In [ ]:
def get_final_price(pick_up_location, drop_location, booking_hour):
    
    maps = Maps()   # Creating instances
    surge = SurgePricing()
    
    total_distance = maps.get_distance(pick_up_location, drop_location)
    actual_price_per_km = surge.get_price_per_km(booking_hour)
    
    final_price = round(total_distance * actual_price_per_km, 2)
    
    return final_price

In [ ]:
# Output

get_final_price(pick_up_location, drop_location, booking_time)

225.56

In [1]:
-3/3

-1.0